[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/MonoGame/MonoGame.Library.BuildScripts.git
[submodule "sdl2-compat"]
	path = sdl2-compat
	url = https://github.com/libsdl-org/sdl2-compat
[submodule "sdl3"]
	path = sdl3
	url = https://github.com/libsdl-org/SDL
	branch = release-3.2.x
